* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 14px;
}

.App {
  /* 
     #61dafb
     #282c34 
     #ff5c5c
     #333D79
     #FAEBEF
     #000080
  */
  /* text-align: center; */
  background-color: #FAEBEF;
}

body {
  height: 100%;
  background-color: #FAEBEF;
  color: #333D79;
}
